@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c9cdd5;
    margin: 0;
    height: 100%;
    min-width: 100vh;
    /* overflow-x: clip; */
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1001;
    width: 100%;
    min-width: 100vw;
    padding: 0.5rem 1rem;
}

.main-navbar {
    display: flex;
    align-items: center;
    /* gap: 2vw; */
    /* Relative unit */
    width: 100%;
    /* min-width: 100vh; */
}

.logo-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* Relative unit */
    max-width: 800px;
    /* Maximum width */
}

.logo {
    cursor: pointer;
}

.logo img {
    max-width: 125px;
    height: auto;
    margin-right: 1rem;
}

.search_container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    width: 75%;
    /* Relative unit */
}

.search-box {
    flex-grow: 1;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: aliceblue;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    transition: width 0.3s ease;
}

.search-btn {
    width: 3rem;
    height: 2.5rem;
    background-color: aliceblue;
    cursor: pointer;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
}

.other-elements {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    width: 80vh;
    /* Relative unit */
}

header .cart-icon {
    transition: transform 0.3s ease;
}

header .cart-icon:hover {
    border: 0.062rem solid rgba(4, 50, 137, 0.941);
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.1);
}

.ant-badge-count {
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

.become-seller {
    transition: transform 0.3s ease;
}

.become-seller:hover {
    border: 0.062rem solid rgba(4, 50, 137, 0.941);
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.1);
}

header .more {
    margin-top: px;
    transition: transform 0.3s ease;
}

header .login {
    transition: transform 0.3s ease;
}

.login_text {
    text-decoration: none !important;
}

header .login:hover {
    border: 0.062rem solid rgba(4, 50, 137, 0.941);
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.1);
}

header .more:hover {
    border: 0.062rem solid rgba(4, 50, 137, 0.941);
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.1);
}


/* Media queries */
@media (max-width: 768px) {
    .main-navbar {
        flex-direction: column;
    }

    .other-elements {
        margin-top: 15px;
    }
}

@media (min-width: 1024px) {
    .main-navbar {
        flex-direction: row;
    }
}

/* Hover effects */
header .cart-icon:hover,
.become-seller:hover,
header .login:hover,
header .more:hover {
    border: 0.062rem solid rgba(4, 50, 137, 0.941);
    border-radius: 0.25rem;
    cursor: pointer;
    transform: scale(1.1);
}


.section-container {
    background-color: white;
    margin-top: 15px;
    width: 100%;
    min-width: 100vh;
}

.section {
    margin-left: 35px;
}

@media (max-width: 768px) {
    .section {
        margin-left: 45px;
    }
}

.slider {
    margin-top: 1rem;
}

.slider-image {
    width: 100%;
    min-width: 100vh;
    height: 380px;
}

.carousel-container {
    width: 100%;
    /* min-width: 100vh; */
    padding-left: 70.5px;
    padding-bottom: 25px;
}

.carousel-container .react-multi-carousel-arrow {
    display: none !important;
}

@media (max-width: 768px) {

    .slider-image {
        width: 100% !important;
        min-width: 100vh !important;
        height: 180px !important;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .slider {
        width: 100% !important;
        min-width: 100vh !important;
        margin-top: 1rem;
    }

    .slider-image {
        min-width: 100vh !important;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .slider {
        width: 100% !important;
        min-width: 100vh !important;
        margin-top: 1rem;
    }

    .slider-image {
        width: 100% !important;
        min-width: 100vw !important;
    }
}

/*footer */

footer {
    width: 100%;
    min-width: 100vw;
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 3.125rem;
}

.foot-panel1_txt {
    color: white;
    font-weight: 600;
    font-size: 0.85rem;
}

.foot-panel_txt {
    color: white;
    font-weight: 300;
    font-size: 0.90rem;
}

.foot-panel_txt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.foot-Panel_txt {
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 23.25rem;
}

.foot-panel2 .column {
    margin-top: 1.5rem;
    margin: 0 1.8rem;
    padding-top: 1rem;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 5.25rem;
}

.foot-panel3 .language_logo {
    margin-top: 0.8rem;
}

.foot-panel3 .logo1 {
    height: 3.1rem;
    background-image: url("/images/logo1.png");
    background-size: cover;
    width: 6.25rem;
}

.foot-panel3 .country .country_name {
    color: white;
}

.foot-panel3 .country .country_name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.foot-panel3 .country {
    margin-top: 0.5rem;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 5rem;
    font-size: 0.7rem;
}

.pages .txt {
    padding-top: 25px;
    color: white;
}

.pages .txt:hover {
    text-decoration: underline;
    cursor: pointer;
}

.copyright {
    padding-top: 5px;
    font-size: 0.8rem;
}

@media (max-width:768px) {
    .foot-panel3 .logo1 {
        height: 3rem;
        width: 5.75rem;
    }

    .foot-panel1 {
        height: 2.7rem;
    }

    .foot-panel1_txt {
        font-weight: 600;
        font-size: 0.75rem;
    }

    .foot-panel2 {
        height: 22.75rem;
    }

    .foot-Panel_txt {
        font-size: 0.8rem;
    }

    .foot_panel_txt {
        font-size: 0.8rem;
    }

    .foot-panel4 {
        height: 4.5rem;
        font-size: 0.6rem;
    }

    .pages .txt {
        padding-top: 19px;
    }

    /* .ant-btn-compact-first-item
     {
       
     }
     .ant-btn-compact-last-item{

     } */

}

/* Gototop */
.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-btn {
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    color: #090909;
    background-color: rgba(219, 172, 124, 0.7);
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
    border-radius: 50%;
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-btn--icon {
    animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
    0% {
        transform: translateY(-0.5rem);
    }

    100% {
        transform: translateY(1rem);
    }
}

@media (max-width: 1024px) {
    .top-btn {
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .responsive-button {
        padding: 5px !important;
    }

    .top-btn--icon {
        font-size: 23px !important;
    }
}

@media (max-width: 769px) {
    .top-btn {
        width: 2.5rem !important;
        height: 2.5rem !important;
    }

    .responsive-button {
        padding: 5px !important;
    }

    .top-btn--icon {
        font-size: 23px !important;
    }
}


/* Single Card */
.singlecard_container {
    width: 100%;
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.discription {
    font-size: 15px;
    font-weight: 600;
    color: #007185;
    /* text-overflow: ellipsis; */
}

.rating {
    margin-top: 0.6rem;
}

.price {
    margin-top: 0.6rem;
    font-size: 25px;
}

.card {
    margin-top: 0.7rem;
}

/* .card .btn .btn_txt {
    all: unset;
    border: none;
    color: #007185;
    font-size: 13px;
}

.card .btn .btn_txt:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
} */

.form_btn_remove {
    width: 10rem;
    margin-top: 15px;
    height: 35px;
    background-color: red;
}

.form_btn_submit {
    width: 10rem;
    margin-top: 15px;
    height: 35px;
}

.form_btn_submit:hover {
    cursor: pointer !important;
}

.form_btn_remove:hover {
    cursor: pointer !important;
    background-color: red !important;
}


@media (max-width:768px) {
    .card-image {
        width: 130px !important;
        height: 70px !important;
    }

    .card {
        width: 270px !important;
        height: 325px !important;
    }

    .discription {
        font-size: 12px;
    }

    .price {
        font-size: 18px;
    }

    .form_btn {
        width: 50px;
        height: 30px !important;
    }

    .form_btn_remove {
        width: 7rem;
        margin-top: 15px;
        height: 30px;
        background-color: red;
        font-size: 11px;
    }

    .form_btn_submit {
        width: 7rem;
        margin-top: 15px;
        height: 30px;
        font-size: 11px;
    }
}

@media (max-width:1024px) {
    .card-image {
        width: 175px !important;
        height: 80px !important;
    }

    .card {
        width: 275px !important;
        height: 335px !important;
    }

    .discription {
        font-size: 12px;
    }

    .price {
        font-size: 18px;
    }

    .form_btn {
        width: 50px;
        height: 30px !important;
    }

    .form_btn_remove {
        width: 7rem;
        margin-top: 15px;
        height: 30px;
        background-color: red;
        font-size: 11px;
    }

    .form_btn_submit {
        width: 7rem;
        margin-top: 15px;
        height: 30px;
        font-size: 11px;
    }
}



/* LongItem */
.long_container {
    background-image: url("https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/HOMAAOSw0nFlrleq/$_57.JPG");
    height: 20.62rem;
    margin-top: 1.2rem;
    background-position: right;
    background-size: cover;
    position: relative;
    width: 100%;
    min-width: 100vw;
    border-radius: 0.7rem;
}

.long_container .txt_1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(114, 29, 29);
}

.long_container .txt_2 {
    font-size: 1.5rem;
    color: rgb(114, 29, 29);
}

.long_container .Container {
    position: absolute;
    left: 2rem;
    top: 0.65rem;
}

.long_container .Container .btn {
    position: absolute;
    top: 220px;
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    border: 1px solid rgb(114, 29, 29);
    background: transparent;
    font-size: 1.2rem;
}

.long_container .Container .btn:hover {
    background-color: rgb(114, 29, 29);
    color: yellow;
    cursor: pointer;
}

/* Media queries */
@media (min-width: 1440px) and (max-width:1868px) {
    .long_container {
        background-image: url("https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/HOMAAOSw0nFlrleq/$_57.JPG");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 22.62rem !important;
        width: 100%;
        min-width: 100vh;
        margin-top: 1.2rem;
    }
}

@media (min-width: 1868px) and (max-width:2560px) {
    .long_container {
        height: 29.62rem !important;
        width: 100%;
        min-width: 100vw;
        margin-top: 1.2rem;
    }

    .long_container .txt_1 {
        font-size: 2.2rem !important;
    }

    .long_container .txt_2 {
        font-size: 2rem !important;
    }

    .long_container .Container .btn {
        height: 3.7rem;
        width: 9rem;
        font-size: 1rem !important;
    }

    .long_container .Container .btn {
        position: absolute;
        top: 295px;
        height: 3.7rem;
        width: 12rem;
        font-size: 1.5rem !important;
    }
}


@media (min-width: 768px) and (max-width:1024px) {
    .long_container {
        background-image: url("https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/HOMAAOSw0nFlrleq/$_57.JPG");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 15.62rem !important;
        width: 100%;
        margin: 0;
        min-width: 100vh;
        margin-top: 1.2rem;
    }

    .long_container .txt_1 {
        font-size: 1.3rem !important;
    }

    .long_container .txt_2 {
        font-size: 0.9rem !important;
    }

    .long_container .Container .btn {
        height: 2.3rem;
        width: 6.5rem;
        font-size: 0.8rem !important;
        position: absolute;
        top: 140px;
    }
}

@media (min-width:1024px) and (max-width:1439px) {
    .long_container {
        background-image: url("https://i.ebayimg.com/00/s/NDEzWDE2MDA=/z/HOMAAOSw0nFlrleq/$_57.JPG");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 19.62rem !important;
        width: 100%;
        margin: 0;
        min-width: 100vh;
        margin-top: 1.2rem;
    }


    .long_container .Container .btn {
        height: 2.3rem;
        width: 7.5rem;
        font-size: 1rem !important;
        position: absolute;
        top: 190px;
    }

    .long_container .txt_1 {
        font-size: 1.7rem !important;
    }

    .long_container .txt_2 {
        font-size: 1.2rem !important;
    }
}

/* Card */
.Cards {
    width: 370px;
    background-color: white;
    height: 415px;
    margin-top: 13px;
    position: relative;
}

.Cards .txt {
    font-size: 1.3rem;
    font-weight: 700;
}

.Cards .card_container {
    margin-top: 15px;
}

.Card_container {
    margin-top: 0.9rem;
}

.Cards ._container {
    position: absolute;
    top: 23.8rem;
}

.Cards ._container .btn .Btn_txt {
    font-size: 13px;
    color: #007185;
}

.Cards ._container .btn .Btn_txt:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

/* Login page */
.login_container {
    background-color: white;
    width: 32rem;
    height: 27rem;
    border-radius: 0.5rem;
}

/* Regiter Page */
.register_container {
    background-color: white;
    height: 37rem;
    width: 31rem;
    border-radius: 0.5rem;

}

/* Seller-form */
.seller_container {
    background-color: white;
    height: fit-content;
    width: 45rem;
    border-radius: 0.5rem;
}

.ant-list-bordered .ant-list-item {
    color: blue;
}

/* Forgot-password */
.forgotpassword_container {
    background-color: white;
    width: 32rem;
    height: 20rem;
    border-radius: 0.5rem;
}

.forgotpassword_container .form_btn:hover {
    background-color: green;
}

/* cart_item */
.cart_container {
    height: 220px;
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 10px;
    /* margin-left: 0.5rem;    
     margin-right: 0.5rem; */
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 8px 8px rgba(17, 12, 12, 0.1);
}

.horizontal-line {
    height: 1px;
    background: linear-gradient(to right, black 33%, transparent 0%);
    background-size: 8px 2px;

}

/* cart */
.price_container {
    height: fit-content;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    /* margin-bottom: 1rem; */
    /* margin: 0 1rem 10px; */
    top:15px
}

.promo_code {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:1024px) {

    .price_details {
        font-size: 14px !important;
    }

    .price_info {
        font-size: 14px !important;
    }

    .discount {
        font-size: 14px !important;
    }

    .showdelivery {
        font-size: 14px !important;
    }

    .total_price {
        font-size: 14px !important;
    }

    .apply {
        margin-top: 10px;
    }

    .cancel {
        margin-top: 10px;
    }


    .price_container {
        /* margin-top: 15px; */
        width: 95%;
        /* margin: 15px 0  auto; */
    }

    .cart_container {
        width: 95%;
        /* margin: 0 auto; */
        margin-bottom: 10px;
        height: 210px;
    }

    .cart_image {
        height: 160px !important;
        width: 220px !important;
        padding-top: 9.5px !important;
    }

    .item_title {
        font-size: 18px !important;
    }

}

@media (max-width:2560px) {

    .price_container {

        margin-left: 15px;
        top: 113px;
    }


}

@media (max-width:1440px) {
    .price_container {
        margin-top: 15px;
        width: 95%;
        /* margin: 0 auto; */
        /* width: 95% !important; */
        /* position: sticky;
        top:113px !important; */
    }

    .cart_container {
        width: 95%;
        margin-bottom: 10px;
    }

    .cancel {
        margin-top: 10px;
    }

    .apply {
        margin-top: 10px;
    }
}

@media (max-width:768px) {
    .price_container {
        margin-top: 15px;
        margin: 0 auto;
        /* width: 95% !important; */
        /* position: sticky;
        top:113px !important; */
    }

    .cart_container {
        margin: 0 auto;
        margin-bottom: 10px;
    }

}

.showcoupen {
    font-size: 18px;
    display: block;
}

.showbadge {
    display: block;
}

.showdelivery {
    font-size: 18px;
    display: block;
}

.notshowcoupen {
    display: none;
}


/* success page */
.success_container {
    background-color: white;
    width: 27rem;
    height: 17rem;
    border-radius: 0.5rem;
}


/* @media (max-width: 576px) {
    .login_container {
      padding: 0 16px;
    }
  
    .logo_container {
      margin-bottom: 20px;
    }
  
    .content {
      margin-top: 20px;
    }
  
    .form_btn {
      width: 100%;
    }
  }
  
  @media (min-width: 577px) and (max-width: 991px) {
    .login_container {
      padding: 0 24px;
    }
  
    .content {
      margin-top: 30px;
    }
  
    .form_btn {
      width: 50%;
    }
  } */

/* register page  */


/* Adjust form elements for smaller screens */
@media (min-width: 576px) {
    .register_container {
        padding: 0 10px;
    }

    .first_name {
        width: 155px,
    }
}

/* Adjust font size for smaller screens */
@media (min-width: 320px) {
    .register_container h1 {
        font-size: 18px;
    }

    .first_name {
        width: 155px,
    }
}

/* Apply styles for the button */
.form_btn_see_all {
    width: 170px;
    height: 55px;
    font-size: 18px;
    z-index: 1000;
}

.seeallproducts {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    min-width: 100vh;
}

@media (max-width: 1024px) {
    .form_btn_see_all {
        width: 140px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .form_btn_see_all {
        height: 38px;
    }
}

.notification {
    display: 'flex';
    align-items: center;
}

.notification_image {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}